@import url('https://fonts.cdnfonts.com/css/english-towne');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

body {
  color: white;
  background-color: black;
}

a {
  color: white;
}

header {
  font-size: xx-large;
}

#cook-title {
  font-family: 'English Towne';
}

#cross-title {
  font-family: 'Ultra';
}